GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
GOOGLE_CLOUD_REGION=us-central1
GOOGLE_CLOUD_VISION_APPLICATION_CREDENTIALS=

APP_ENV=development
APP_DEBUG=true
APP_PORT=8000

# Document Preprocessing Chunking
CHUNK_SIZE=1000
CHUNK_OVERLAP=200